
<%- include("header") -%>

<!-- With these layouts we can give basic background styles to about and not include those lists -->

<h1>About</h1>

<p>bakc d hd  id hvhoiwhovcwcvwevewhov whviwhv</p>

<%- include("footer") -%>
